.order-card {
    color: #fff;
}
.bg-c-blue {
    /* background: linear-gradient(45deg,#73b4ff, #4099ff); */
    background: #4099ff;
}
.bg-c-green {
    background: linear-gradient(45deg,#59e0c5, #2ed8b6);
}
.bg-c-pink {
    background: linear-gradient(45deg,#ff869a, #FF5370);
}
.card {    
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card .card-block {
    padding: 25px;
}
.order-card i {
    font-size: 26px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}

.btn-exportar-excel {
    background: #2AA745 !important;
    border-radius: 5px !important;
    border: none !important;
    color: white !important;
}
.btn-exportar-excel:hover{
    background: #1c7430 !important;
    color: white !important;
}

.btn-exportar-pdf {
    background: #D84352 !important;
    border-radius: 5px !important;
    border: none !important;
    color: white !important;
}
.btn-exportar-pdf:hover {
    background: #a62633 !important;
    color: white !important;
}

.btn-exportar-print {
    background-color: #1a7bff !important;
    border-radius: 5px !important;
    border: none !important;
    color: white !important;
}

.btn-exportar-print:hover {
    background-color: #1e59ab !important;
    color: white !important;
}
